venv/
mi_entorno/
__pycache__/
*.pyc
*.sqlite3
db.sqlite3
*.log
*.pot
*.py[cod]
*.env
.env
/staticfiles/
.DS_Store
.idea/
.vscode/
farmacia_app/migrations/*.py
!farmacia_app/migrations/__init__.py
farmacia_app/migrations/*.pyc